.main1{
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-areas:    "nav nav nav nav nav"
                            "side contain contain contain side2"
                            "side main1 main1 main1 side2"
                            "side main1 main1 main1 side2"
                            "side main1 main1 main1 side2"
                            "side main main main side2";

   grid-template-rows: 64px 48px 1fr 1fr 1fr 10px;      

   grid-template-columns:  minmax(200px, 250px) 1fr 1fr 1fr 55px    
}   

.side{
    grid-area: side; 
}

.contain{
    grid-area: contain;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    
}

.main-contain{
    grid-area: main1;
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 0 0 15px 15px;

}

.side-end{
    grid-area: side2;
}


@media screen and (max-width:850px){
    .main1{
        display: none;
    }
}